
body{
   background-color: lightgrey;  
}

.header{
    padding-left: 114;
    padding-top: 30px;
    padding-right: 0px;
}
.container-fluid{
    background-color: white;
}
.nav-lin:hover{
color: lightpink;
}

h1{
   padding:5px 20px 5px 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 3rem;
}
.navbar-brand{
    background-color: #4aaaa5;
    margin-left: 30px;
}
.navbar{
    padding-left: 30%;
}
.col-sm-6{
    background-color: white;
}

.nav-link{
    font-size: 1.5rem;
}
.con-color{
    background-color: white;
    padding: 0px 50px 50px 50px;; 
}
.img-fluid{
    text-align: center;
    margin: 1.5rem;
    
}

.image{
    
    width: 30%;
    padding-right: 30px;
    border-radius: 1rem;;
    float: left;

}
footer{
    background-color: gray;
    text-align: center;
     padding: rem;
}
.img-fluid:hover{
   background-color: lightslategray;
} 
h1:hover{
    opacity: .2;
   
}
.head-title:hover{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5remS;
}
.nav-link:hover{
   font-size: 1.8rem;
}
.img-fluid{
    padding: 1.5rem;
    height: 20rem;
    
}
@media only screen and (max-width:700px){
    .image{
        float: none;
   
    }
    .
}
/* contact */

.container{
    background-color: white;
    padding: 5rem;
}
.contact{
 padding-top: 15rem;

}
